<html lang="en">
<head>
    <% include partials/header%>
</head>
<body>
<div class="nav-container">
    <% include partials/nav%>
</div>

<div class="container" style="padding-top: 20px">
    <div class="container-fluid mt-4">
        <div class="container">
            <div class="row">

                <div class="col-md-7 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">  <h3 >My profile<hr/></h3></div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">
                                    <div class="col-sm-6" style="margin-top: 20px;margin-left: 140px;">
                                        <div  align="center" style="width: 190px;">
                                            <img alt="User Pic" src="/images/tradeswomen.jpg" id="profile-image1" class="img-circle img-responsive">
                                            <input id="profile-image-upload" class="hidden" type="file">
                                            <p style="color:#999;">click here to change profile image</p>
                                            <!--Upload Image Js And Css-->

                                            <h5>MYOB verified </h5>





                                        </div>

                                        <br>

                                        <!-- /input-group -->
                                    </div>
                                    <div class="clearfix"></div>
        <h3>My Assets<hr/></h3>
        <div class="row">
            <script>
                var data1 = []

                <% for(i = 0; i < data.length; i++){ %>

                data1.push({
                    key:   "<%=data[i].title%>",
                    value: "<%=data[i].status%>"
                })
                <%}%>
                console.log(data1)
            </script>
            <% for(i = 0; i < data.length; i++){ %>
            <div class="col-mb align-self-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/<%=data[i].title.replace(/ /g,'')%>1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%=data[i].title%></h5>
                        <div id="asset-button-container<%=data[i].title.replace(/ /g,'-')%>" style="
                        width: 160px;
                        height: 36px;
                        margin: auto;
                        position: relative;
                        border-radius: 6px;
                        overflow: hidden;
                        user-select: none;
                        cursor: pointer;">
                            <div class="inner-container">
                                <div class="toggle">
                                    <p>Unavailable</p>
                                </div>
                                <div class="toggle">
                                    <p>Available</p>
                                </div>
                            </div>
                            <div class="inner-container" id='toggle-container<%=data[i].title.replace(/ /g,'-')%>'>
                                <div class="toggle">
                                    <p>Unavailable</p>
                                </div>
                                <div class="toggle">
                                    <p>Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
        <h3>My listings<hr/></h3>
        <div class="row">
            <div class="col-mb align-self-center">
                <div class="card" style="width: 19rem;">
                    <img class="card-img-top" src="/images/CircularSaw1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">[LISTING] Circular Saw</h5>
                        <p class="card-text">Pretty new, hasnt had much use fasdlfkjasdlfkjdsaf</p>
                        <form method="post" action="/myListing">
                            <button type="submit" name="buttonType" value="Circular Saw" class="btn btn-primary">More Info</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3>My feedback<hr/></h3>
    <img src="../images/5-star.jpg" style="width: 10%;">
    <h5>Absolutely amazing, will definitely be back</h5>
    <br>
    <img src="../images/5-star.jpg" style="width: 10%;">
    <h5>Creat experience, would definitely rent with again</h5>

</div>



<% include partials/chatbot %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<script src="/javascripts/javascript.js" ></script>
</body>
</html>

